@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* BUTTON-DEFAULT */

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* NAVBAR-DEFAULT */

.navigation_bar {

  @include media-breakpoint-up(lg) {
    .navscroll.scrolled {
      background-color: #B3BCC4 !important;
      transition: background-color 400ms linear;
    }
  }

  @include media-breakpoint-down(md) {
    .navscroll {
      background-color: #121212 !important;
      color: white;
    }
  }

  @include media-breakpoint-between(md, lg) {
    .navscroll {
      background-color: #121212 !important;
      color: white;
    }
  }

  .navbar-light {
    .navbar-toggler {
      border-color: transparent !important;

      &:focus {
        box-shadow: none !important;
      }
    }

    .navbar-nav .nav-link {
      color: black !important;

      &:focus {
        color: #8B0000 !important;
      }
    }
  }
}


.navigation_bar_footer {

  @include media-breakpoint-up(lg) {
    .navscroll.scrolled {
      background-color: #B3BCC4 !important;
      transition: background-color 400ms linear;
    }
  }

}

footer {
  background-color: #8B0000 !important;
}

.anchor {
  text-decoration: none;
  color: white;
}

.terms {
  text-decoration: none;
  color: #ffffff;
}

.razo {
  color: #8B0000;
}

.appoint {
  height: 120px;
}

.image_logo {
  width: 120px;
  height: 120px;
  background-color: #B3BCC4;
}

/* NAVBAR SCROLL & FOOTER */

/* VARIABLES & MIXINS */

$darkRed: #8B0000;
$white: #ffffff;

@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hdrcolor {
  color: $darkRed;
  font-size: 120;
  font-weight: 900;

}

.btn_custom {
  background-color: $darkRed !important;
  color: white !important;
  border-radius: 2px !important;
  min-width: 80px;
}

.btn_shadow {
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8) !important;
}

.box_border {
  border: solid 1px #ececec !important;
}

.sec_bg {
  background-image: url("../images/nice.jpg");
  @include background-image;
  height: 800px;
  width: 100%;
}

.tech_cards {
  padding-top: 140px;
}

.card_size {
  height: 320px;
  width: 200px;
}

.secondary_header {
  height: 300px;
  width: 100%;
}

.sec_hdr {
  background-image: url("../images/tab2.jpg");
  @include background-image;
}

/* HOME PAGE */

.sec_3 {

  background-image: url("../images/process.png");
  @include background-image;

  .header_height {
    height: 100vh;
    background-color: #ffffff;
  }
}

.bg_imgs {
  background-image: url("../images/44.jpg");
  @include background-image;
}

.banner_h {
  height: 10vh;
  padding-left: 50px;
}

.banner-user-title {
  font-size: 36px;
}

.deve {
  font-weight: 700;
}

.sec_2 {
  background-image: url("../images/sec_2.jpg");
  @include background-image;
  height: 400px;
  width: 100%;

}

.our {
  font-weight: bolder;
  margin-left: 140px;
}

.main_color {
  color: #8B0000;
}

.paragraph_1 {
  margin-left: 100px;
}

.paragraph_2 {
  margin-left: 60px;
}

.span_portfolio {
  color: #8B0000;
  font-weight: bolder;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  width: 10%;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.brands_logo div {
  max-width: 150px !important;
}

.shp {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  text-align: center;
  line-height: 84px;
  position: absolute;
  top: -42px;
  left: 50%;
  margin-left: -42px;
  background: white;
  color: $darkRed;
  border: 1px solid $darkRed;
}

.snip1534 {
  width: 1000px;
  height: 400px;
  color: $white;
}

/* SERVICE PAGE */

/* CAREER PAGE */

.career_life {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: $darkRed;
  height: 100%;
  padding: 15px;
  margin: auto 20px;
  color: $white;
}

/* ABOUT PAGE */

/* CONTACT PAGE */

form {
  input {
    height: 55px !important;
  }

  input,
  textarea {
    outline: 0 !important;
    box-shadow: none !important;
    border: solid 1px #ececec !important;
  }

  .form_textarea {
    max-height: 130px;
    height: 130px !important;
  }
}