@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";


* {
	margin: 0;
	padding: 0;
	font-family: "Mulish", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* BUTTON-DEFAULT */

.btn:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

/* NAVBAR-DEFAULT */

.navigation_bar {

	@include media-breakpoint-up(lg) {
		.navscroll.scrolled {
			background-color: #B3BCC4 !important;
			transition: background-color 400ms linear;
		}
	}

	@include media-breakpoint-down(md) {
		.navscroll {
			//background-color: #121212 !important;
			color: white;
		}
	}

	@include media-breakpoint-between(md, lg) {
		.navscroll {
			//background-color: #121212 !important;
			color: white;
		}
	}

	.navbar-light {
		.navbar-toggler {
			border-color: transparent !important;

			&:focus {
				box-shadow: none !important;
			}
		}

		.navbar-nav .nav-link {
			color: black !important;

			&:focus {
				color: #8B0000 !important;
			}
		}
	}
}


.navigation_bar_footer {

	@include media-breakpoint-up(lg) {
		.navscroll.scrolled {
			background-color: #B3BCC4 !important;
			transition: background-color 400ms linear;
		}
	}

}

footer {
	background-color: #8B0000 !important;
}

.nav_background {
	//background-image: linear-gradient(#8b9da9, #fff6e4);
	//box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
	
	//border:0.5px solid #8b9da9;
	//border-left: solid transparent;
	//border-right: solid transparent;
}

.text_color {
	color: red;
}

.anchor {
	text-decoration: none;
	color: white;
}

.service_anchor {
	text-decoration: none;
}

.terms {
	text-decoration: none;
	color: #ffffff;
}

.razo {
	color: #8B0000;
}

.appoint {
	height: 120px;
}

.image_logo {
	width: 120px;
	height: 120px;
	background-color: #B3BCC4;
}

/* NAVBAR SCROLL & FOOTER */

/* VARIABLES & MIXINS */

$darkRed: #8B0000;
$white: #ffffff;

@mixin background-image {
	background-repeat: no-repeat;
	background-size: cover;
}

.hdrcolor {
	color: $darkRed;
	font-size: 120;
	font-weight: 900;

}

.btn_custom {
	background-color: $darkRed !important;
	color: white !important;
	border-radius: 1px !important;
	min-width: 70px;
	height: 45px;
}

.btn_shadow {
	box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8) !important;
}

.box_border {
	border: solid 1px #ececec !important;
}

.sec_bg {
	background-image: url("../images/robots.gif");
	@include background-image;
	height: 800px;
	width: 100%;
}


.tech_img {
	height: 700px;
	width: 300px;
}

.background_gradiant_color {
	background: linear-gradient(-45deg, #9e9d9c, #f5f1f1, #5c5d5e, #9fafab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 70vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.card_size {
	height: 320px;
	width: 200px;
}

.secondary_header {
	height: 300px;
	width: 100%;
}

.sec_hdr {
	background-image: url("../images/tab2.jpg");
	@include background-image;
}

/* HOME PAGE */

.sec_3 {

	background-image: url("../images/software_process.jpg");
	@include background-image;

	.header_height {
		height: 100vh;
		background-color: #ffffff;
	}
}

.bg_imgs {
	background-image: url("../images/44.jpg");
	@include background-image;
}

.banner_h {
	height: 10vh;
	padding-left: 50px;
}

.banner-user-title {
	font-size: 36px;
	margin-top: 300px;
	margin-left: 30px;
}

.banner_sub_title {
	margin-left: 30px;
}

.deve {
	padding-top: 40px;
	font-weight: 700;
}

.sec_2 {
	background-image: url("../images/sec_2.jpg");
	@include background-image;
	height: 400px;
	width: 100%;

}

.our {
	font-weight: bolder;
	margin-left: 140px;
}

.main_color {
	color: #8B0000;
}

.paragraph_1 {
	margin-left: 100px;
}

.paragraph_2 {
	margin-left: 60px;
}

.span_portfolio {
	color: #8B0000;
	font-weight: bolder;
}

.each-slide-effect>div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 350px;
	width: 10%;
}

.each-slide-effect span {
	padding: 20px;
	font-size: 20px;
	background: #efefef;
	text-align: center;
}

.brands_logo div {
	max-width: 150px !important;
}

.shp {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	text-align: center;
	line-height: 84px;
	position: absolute;
	top: -42px;
	left: 50%;
	margin-left: -42px;
	background: white;
	color: $darkRed;
	border: 1px solid $darkRed;
}

.snip1534 {
	width: 100%;
	height: auto;
	display: block;
	//width: 1000px;
	//height: 400px;
	//color: $white;
}

/* SERVICE PAGE */

/* CAREER PAGE */

.career_life {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	background-color: $darkRed;
	height: 100%;
	padding: 15px;
	margin: auto 20px;
	color: $white;
}

/* ABOUT PAGE */

/* CONTACT PAGE */

form {
	input {
		height: 55px !important;
	}

	input,
	textarea {
		outline: 0 !important;
		box-shadow: none !important;
		border: solid 1px #ececec !important;
	}

	.form_textarea {
		max-height: 130px;
		height: 130px !important;
	}
}

.sign_body {
	background: linear-gradient(135deg, white, gray);
	height: 120vh;
	width: 100%;
	text-align: center;
}

.sign_h4 {
	font-family: 'Segoe UI', bold;
	font-size: 35px;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.sign_form {
	display: inline-block;
	align-items: center;
	height: 270px;
	width: 350px;
	margin-bottom: 170px;
}

.text_area {
	align-content: center;
	border-radius: 22px;
	margin-bottom: 35px;
	width: 100%;
	height: 64px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input {
	margin-top: 0.3rem;
	font-family: 'Montserrat regular';
	font-size: 20px;
	border: none;
	width: 80%;
}

.sign_btn {
	margin-top: 28px;
	width: 165px;
	height: 60px;
	border-radius: 30px;
	background: #8B0000;
	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	color: #FFFFFF;
	box-shadow: #8B0000;
	cursor: pointer;
}

.login {
	display: inline-block;
	background: #FFFFFF;
	width: 434px;
	height: 500px;
	margin-top: 10%;
	border-radius: 22px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign_link {
	color: #0E4579;
	font-family: 'Montserrat light';
	font-size: 18px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

.whybuy {
	margin-left: 350px;
	background-color: white;
	display: flex;
	flex-direction: row;
	color: black;
	padding: 5%;
	font-size: 120%;
	height: 100vh;
}

.fa-bolt {
	font-size: 400%;
	margin-bottom: 20px;
}

.fa-university {
	font-size: 400%;
	margin-bottom: 20px;
}

.fa-heart {
	font-size: 400%;
	margin-bottom: 20px;
}

.brief1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 2%;
}

.brief2 {
	padding: 4%;
	display: flex;
	flex-direction: column;
	text-align: center;
	display: flex;
	justify-content: center;
}

.brief3 {
	padding: 2%;
	display: flex;
	flex-direction: column;
	text-align: center;
	display: flex;
	justify-content: center;
}


.sec_bg_home {
	position: relative;
	width: 100vw;
	min-width: 800px;
	height: 100vh;
	min-height: 600px;
	background: linear-gradient(-45deg, #8691b3, #edeef3);
}


.contact_list {
	list-style-type: none;

}