.payment-canceled-page {
    height: 100vh;  // Full-page height
    background-color: #f8f9fa;  // Light background color
  
    h1 {
      color: #dc3545;  // Red color for cancellation
    }
  
    .btn-secondary {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
  