.payment-complete-page {
    height: 100vh;  // Full-page height
    background-color: #f8f9fa;  // Light background color
  
    h1 {
      color: #28a745;  // Green color for success
    }
  
    .btn-primary {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
  